
.background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1e3c72, #2a5298);
  }
  
 
  .payment-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 700px;
    backdrop-filter: blur(10px);
  }
  
 
  .payment-title {
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
  }
  
 
  .payment-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 25px;
    justify-content: center;
  }
  
 
  .payment-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  
 
  .payment-image {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
 
  .khalti {
    background-image: url("../../images/khaltilogo.png");
    
  }
  
  .esewa {
    background-image: url("../../images/esewa.png");
  }
  
  .imepay {
    background-image: url("../../images/imepay.png");
  }
  
  .hamropay {
    background-image: url("../../images/hamropay.jpg");
  }
  
  .bank {
    background-image: url("../../images/banktransfer.png");
  }
  
 
  @media (max-width: 768px) {
    .payment-image {
      width: 100px;
      height: 100px;
      
    }
  }
  
  @media (max-width: 480px) {
    .payment-image {
      width: 90px;
      height: 90px;
    }
  }
  
 
  .payment-button {
    background: white;
    color: #000;
    font-weight: bold;
    padding: 12px 22px;
    border-radius: 10px;
    border: 2px solid #000;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, transform 0.2s;
  }
  
  .payment-button:hover {
    background: #e0e0e0;
    transform: translateY(-3px);
  }
  
 
  .or-text {
    font-size: 22px;
    font-weight: bold;
    margin: 25px 0;
    color: white;
  }
  
 
  .cash-button {
    background: white;
    color: #000;
    font-weight: bold;
    padding: 16px 32px;
    border-radius: 10px;
    border: 3px solid #000;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s, transform 0.2s;
  }
  
  .cash-button:hover {
    background: #e0e0e0;
    transform: translateY(-3px);
  }
  
 
  @media (max-width: 600px) {
    .payment-options {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  