.dropdown-menu {
    width: 200px;
    position: absolute;
    top: 80px; /* Directly below the parent item */
    left: 0;
    list-style: none;
    text-align: start;
    background: #242222;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none; /* Hidden by default */
    z-index: 1001;
    padding: 0;
    margin: 0;
  }
  
.dropdown-menu li{
    background: #1888ff;
    cursor: pointer;
    transition: background 0.3s ease;
    padding: 10px;
}
.dropdown-menu li:hover {
    background: #5cabff;
}
.dropdown-menu.clicked{
    display: none;
}
.dropdown-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration:none;
    color:#fff;
    padding: 16px;

}
.dropdown-menu.active {
    display: block; /* Display dropdown when active */
}