
.navbar {
  background: linear-gradient(90deg, rgba(28, 27, 27) 0%, rgba(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  z-index: 1000;
}


.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}


.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 3rem;
  transition: all 0.3s ease;
  margin-left: auto;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
  transition: all 0.3s ease;
  position: relative;
}


.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}


.nav-item:hover .dropdown-menu {
  display: block;
}


.nav-button {
  background-color: #1888ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background 0.3s ease;
}

.nav-button:hover {
  background-color: #cc5500;
}


.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-icon:hover {
  transform: scale(1.1); 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}


.user-dropdown {
  position: absolute;
  top: 80px; 
  right: 0; 
  background: #333; 
  color: white; 
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  width: 150px;
  display: none; 
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-item:hover .user-dropdown {
  display: flex; 
  opacity: 1;  
}


.user-dropdown a {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: white; 
  cursor: pointer;
  border: none;
  background: none;
  transition: background 0.3s ease;
}

.user-dropdown a:hover {
  background: #1888ff; 
}

.logout-btn {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: white;  
  background-color: #e74c3c;  
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.logout-btn:hover {
  background-color: #c0392b;  
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }

  .nav-button {
    display: block;
    width: 100%;
    margin: 10px auto;
  }
}
